* {
  margin: 0;
}

main{
  display: flex;
  align-items:center;

}

.background-image{
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.conteudo{
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.consultores{
  padding: 1rem;
  max-width: 550px;
  background-color:teal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: 50px;
  height: 500px;
  border-radius: 1rem;
}

.consultores h1{
  color:white;
  margin-top: 5px;
  margin-bottom: 20px;
}

.consultores ul{
  padding: 0;
  
}

.container li{
  list-style-type: none;
  display: flex;
  align-items:center;

}

.container li i{
  margin-left: 20px;
}

.draggable {
  margin-top: 2px;
  padding: 1rem;
  width: 220px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  cursor: move;
  border-radius: 5px;
}

.draggable.dragging {
  opacity: .5;
}

.container .draggable .info{
  display: flex;
  align-items: center;
}

.container .draggable .info img{
  height: 43px;
  width: 43px;
  pointer-events: none;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}

.container .draggable .info span{
  width: 110px;
  margin-left: 10px;
  font-size: 16px;
}




/*Tarefas*/
.tarefas{
  padding: 1rem;
  max-width: 550px;
  background-color:teal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin-left: 50px;
  height: 500px;
  border-radius: 1rem;
}

.tarefas h1{
  color:white;
  margin-top: 5px;
  margin-bottom: 20px;
}

.box-tarefas{
  height: 370px;
  width: 430px;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.box-nivel{
  width: 123px;
  height: 150px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 11px;
}

.box-nivel h1{
  margin-top: 40px;
}

.box-nivel button{
  margin-top: 5px;
  height: 35px;
  border: 2px solid #333;
  border-radius: 5px;
  background:blue;
  color: white;
  transition: transform 0.3s ease;
}

.box-nivel button:hover{
  transform: scale(1.1);
}

#nivel1{
  background: linear-gradient(to right, rgb(50, 50, 50), rgb(0, 0, 0));
  opacity: .7;
}

#nivel2{
  background: linear-gradient(to right, rgb(102, 51, 0), rgb(0, 0, 0));
  opacity: .8;
}

#nivel3{
  background: linear-gradient(to right, rgb(0, 51, 0), rgb(0, 0, 0));
  opacity: .8;
}

