* {
  margin: 0;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background-image{
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

                      /* MODAL */
.modal{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
  z-index: 2024;
}

.conteudo-modal{
  margin: 0 auto;
  margin-top: 60px;
  height: 510px;
  max-width: 500px;
  background-color: #fff;
  border-radius:8px;
}

.cabecalho-modal{
  padding: 1px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #eee;
  align-items: center;
}

.cabecalho-modal .titulo-modal{
  font-weight: bold;
  margin: 10px 25px;
  margin-left: 163px;
}

.cabecalho-modal .uil-times-circle{
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 10px ;
}

.cabecalho-modal .cabecalho-modal-fechar:hover{
  color: rgba(0, 128, 128, 0.8);
  transform: scale(1.2);
}

.corpo-modal{
  padding: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corpo-modal{
  margin-top: -10px;
}

.corpo-modal p{
  font-size: 16px;
}

.corpo-modal p span{
  color: #333;
  font-size: 14px;
  text-shadow: slategrey;
}

.corpo-modal .list-consultores{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 265px;
  height: 280px;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.corpo-modal .list-consultores .destinationList{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 0;
}

.corpo-modal .list-consultores .destinationList li{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0;
}

.corpo-modal .list-consultores .destinationList .draggable{
  padding: 1rem;
  width: 330px;
  height: 30px;
  /* background-color: white; */
  /* border: 1px solid black; */
  cursor: move;
  border-radius: 5px;
  margin-left: 40px;
  transition: transform .3s ease;
}

.corpo-modal .list-consultores .destinationList .draggable:hover{

  transform: scale(1.05);
  cursor:pointer;
}


.corpo-modal .list-consultores .destinationList .draggable info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.corpo-modal .list-consultores .destinationList .draggable info span{
  margin-left: 50px;
}

.destinationList .draggable i{
  color: #bbb;
  transition: transform 0.2s ease;
  font-size: 18px;
}

.destinationList .draggable i:hover{
  color: rgba(0, 128, 128, 0.8);
  transform: scale(1.2);

}

.corpo-modal .destinationList li{
  color: black;
  display: block;

}

.corpo-modal .destinationList li:hover{
  cursor:pointer;
}

.rodape-modal{
  width: 470px;
  height: 50px;
  display: flex;
  flex-direction: column;
  border-top: solid #eee 1px;

  position: absolute;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  gap: 15px;
}

.rodape-modal .btn-config{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(0, 128, 128, 0.8);
  color:  white;
  border: 1px solid  rgba(0, 128, 128, 0.4);
  border-radius: 2px;
  transition: .5s;
  
}

.rodape-modal .btn-config:hover{
  cursor:pointer;
  color:  rgba(0, 128, 128, 0.8);
  background-color: white;
  border: 1px solid  rgba(0, 128, 128, 0.4); 
  transform: scale(1.05);
}










              /* CONFIG BOX */
.conteudo{
  padding: 0;
  margin: 0;
  max-width: 90%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.consultores{
  padding: 2rem;
  max-width: 550px;
  background-color: rgba(0, 128, 128, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: 50px;
  height: 500px;
  border-radius: 1rem;
}

.consultores .header-box{
  display: flex;
  align-items:center;
  justify-content: center;
  color:white;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%; 
  height: 10px;  
}

.consultores .list-box{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 260px;
  height: 400px;
  background-color:white;
  border-radius: 5px;
  top: 0;
  margin: 0;
  padding: 10px;
}

.qntConsultores{
  margin-bottom: -20px;
width: 100%;
height: 30px;
background: white;
padding: 0;
display: flex;
justify-content: center;
color: white;

border-radius: 5px;
z-index: 2023;
}

.statusConsult{
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}


.itemCountDisponivies{
  background-color: rgba(0, 102, 51, 0.7);
  color: white;
}

.itemCountOcupados{
  background:rgba(255, 0, 0, 0.5);
}

.consultores  .list-box .listConsultores{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
}
}

.container li{
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items:center;
}

.container li i{
 
}

.draggable {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-right: 41px;
}

.draggable:hover{
  transform: scale(1.05);
}

.draggable .info{
  margin-top: 2.5px;
  padding: 1rem;
  width: 220px;
  margin-right: 39px;
  height: 24px;
  background-color: white;
  border: 1px solid black;
  cursor: move;
  border-radius: 5px;
  transition: .3s;
}

.draggable.dragging {
  opacity: .5;
}

.container .draggable .info{
  display: flex;
  align-items: center;
}

.container .draggable .info img{
  height: 43px;
  width: 43px;
  pointer-events: none;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}

.container .draggable .info span{
  width: 110px;
  margin-left: 10px;
  font-size: 16px;
}

.container .draggable .info i{
  position: relative;
  font-size: 16px;
  right: 0;
  margin-left: 25px;
}

.rodape-box{
  margin-top: 15px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}

.rodape-box button{
  display:flex;
  align-items:center;
  justify-content: center;  
  padding: 10px;
  width: 40%;
  height:35px;
  font-size: 16px;
  text-shadow: bold;
  background-color: white;
  color: rgba(0, 128, 128, 1);
  transition: transform 0.3s ease;
  border: 2px solid rgba(0, 128, 128, 1);
  border-radius:10px;
}

.rodape-box button:hover{
  transform: scale(1.05);
  background-color: rgba(0, 128, 128, 1);
  color: white;
  transition: transform 0.3s ease;
  border: 2px solid #bbb;
}





                    /*Tarefas*/
.tarefas{
  padding: 2rem;
  max-width: 550px;
  background-color: rgba(0, 128, 128, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin-left: 50px;
  height: 500px;
  border-radius: 1rem;
}

.tarefas .header-box{
  display: flex;
  align-items:center;
  justify-content: center;
  color:white;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%; 
  height: 10px;  
}

.tarefas .header-box h1{
   
    
}


.box-tarefas{
  margin-top: -5px;
  height: 480px;
  width: 430px;
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-tarefas .niveis{
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-bottom: 30px;
}

.box-tarefas .empresas{
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.box-nivel{
  position: relative;
  width: 123px;
  height: 115px;
  
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 11px;
  border: 1px solid #333;
  transition: transform 0.3s ease;
}

.box-nivel:hover h1{
  transform: scale(1.08);
}

.box-nivel h1{
  margin-top: -12px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  
}

.box-nivel button{
  position: absolute;
  bottom: -10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 128px;
  height: 32px;
  border-radius: 5px;
  text-transform: bold;
  background-color: rgba(0, 128, 128, 1);
  color: white;
  transition: transform 0.3s ease;
  border: 2px solid rgba(0, 128, 128, 0.8);
  
}

.box-nivel button:hover{
 
  transform: scale(1.05);
  background: white;
  color: rgba(0, 128, 128, 1.9);
  border: 2px solid rgba(0, 128, 128, 0.8);
}

.box-nivel .container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
  margin-left: -37px;
}

.box-nivel .container li{
  display: none;
}


#nivel1{
  background: linear-gradient(to right, rgb(173, 216, 230), rgb(65, 105, 225));
}

#nivel2{
  background: linear-gradient(to right, rgb(255, 192, 203), rgb(255, 105, 180));
}

#nivel3{
  background: linear-gradient(to right, rgb(144, 238, 144), rgb(34, 139, 34));
}

#nivel4{
  background: linear-gradient(to right, rgb(144, 238, 144), rgb(34, 139, 34));
}

#nivel5{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

#nivel6{
  background: linear-gradient(to right, rgb(173, 216, 230), rgb(65, 105, 225));
}


#empresa1{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

#empresa2{
  background: linear-gradient(to right, #a8edea, #fed6e3);
}

#empresa3{
  background: linear-gradient(to right, rgb(255, 192, 203), rgb(255, 105, 180));
}


.enter{
  border: dashed 2px #bbb;
  /* */ 
}



